body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media print {
    /* set page size to A3 */
    @page {
      size: 29.7cm 42cm;
      margin: 0;
    }
    body {
      visibility: hidden;
    }
    #printable {
      visibility: visible;
      position: absolute;
      left: 0;
      top: 0;
      max-height: unset;
      overflow-y: unset;
    }
  }
